.mstheme     { nav-banner-image: url(blobane.gif); separator-image: url(blorulee.gif); 
               list-image-1: url(blobul1e.gif); list-image-2: 
               url(blobul2e.gif); list-image-3: url(blobul3e.gif); 
               navbutton-horiz-pushed: url(bhbtnse.gif); 
               navbutton-horiz-normal: url(bhbtnne.gif); 
               navbutton-horiz-hovered: url(bhbtnhe.gif); 
               navbutton-vert-pushed: url(bvbtnse.gif); 
               navbutton-vert-normal: url(bvbtnne.gif); 
               navbutton-vert-hovered: url(bvbtnhe.gif); 
               navbutton-home-normal: url(bhmbtne.gif); 
               navbutton-home-hovered: url(bhmbthe.gif); 
               navbutton-home-pushed: url(bhmbtne.gif); navbutton-up-normal: 
               url(bubtnne.gif); navbutton-up-hovered: url(bubtnhe.gif); 
               navbutton-up-pushed: url(bubtnne.gif); navbutton-prev-normal: 
               url(bpbtnne.gif); navbutton-prev-hovered: url(bpbtnhe.gif); 
               navbutton-prev-pushed: url(bpbtnne.gif); 
               navbutton-next-normal: url(bnbtnne.gif); 
               navbutton-next-hovered: url(bnbtnhe.gif); 
               navbutton-next-pushed: url(bnbtnne.gif) }
.mstheme-bannertxt { font-family: Arial, Arial, Helvetica; font-size: 6; font-weight: bold; color: 
               rgb(0,0,0) }
.mstheme-horiz-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; font-weight: bold; 
               text-align: right; color: rgb(0,0,0) }
.mstheme-vert-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; font-weight: bold; 
               text-align: right; color: rgb(0,0,0) }
.mstheme-navtxthome { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtup { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtprev { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
.mstheme-navtxtnext { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
ul           { list-style-image: url('blobul1e.gif') }
ul ul        { list-style-image: url('blobul2e.gif') }
ul ul ul     { list-style-image: url('blobul3e.gif') }
a:link       { color: rgb(204,0,0) }
a:visited    { color: rgb(153,153,153) }
a:active     { color: rgb(204,153,51) }
body         { color: rgb(0,0,0); background-color: rgb(255,255,204) }
h1           { color: rgb(204,0,0) }
h2, marquee  { color: rgb(204,0,0) }
h3           { color: rgb(204,0,0) }
h4           { color: rgb(204,0,0) }
h5           { color: rgb(204,0,0) }
h6           { color: rgb(204,0,0) }
button       { background-color: rgb(204,0,0); color: white; border-color: rgb(204,0,0) }
label, .MSTHEME-LABEL { color: rgb(0,0,0) }
textarea     { color: black; border-color: rgb(153,0,0) }
fieldset     { color: black; border-color: rgb(153,0,0) }
legend       { color: rgb(204,0,0) }
select       { color: black; border-color: rgb(153,0,0) }
table        { table-border-color-light: rgb(204,0,0); table-border-color-dark: rgb(153,0,0); 
               color: rgb(0,0,0); border-color: rgb(153,0,0) }
caption      { color: rgb(204,0,0) }
th           { color: rgb(0,0,0) }
hr           { color: rgb(204,0,0) }
td           { border-color: rgb(153,0,0) }
.mstheme-bannertxt a:active { color: rgb(0,0,0) }
.mstheme-bannertxt a:link { color: rgb(0,0,0) }
.mstheme-bannertxt a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-g { font-family: Arial, Arial, Helvetica; font-size: 6; color: rgb(0,0,0); 
               background-image: url('blobanc.gif') }
.mstheme-bannertxt-g a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-g a:visited { color: rgb(0,0,0) }
.mstheme-bannertxt-s { font-family: Arial, Arial, Helvetica; font-size: 6; color: rgb(0,0,0) }
.mstheme-bannertxt-s a:active { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:link { color: rgb(0,0,0) }
.mstheme-bannertxt-s a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('bhbtnnc.gif') }
.mstheme-horiz-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('bhbtnsc.gif') }
.mstheme-horiz-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome a:active { color: rgb(0,0,0) }
.mstheme-navtxthome a:link { color: rgb(0,0,0) }
.mstheme-navtxthome a:visited { color: rgb(0,0,0) }
.mstheme-navtxthome-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('bhmbtnc.gif') }
.mstheme-navtxthome-g a:active { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:link { color: rgb(0,0,0) }
.mstheme-navtxthome-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext a:visited { color: rgb(0,0,0) }
.mstheme-navtxtnext-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('bnbtnc.gif') }
.mstheme-navtxtnext-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtnext-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev a:visited { color: rgb(0,0,0) }
.mstheme-navtxtprev-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('bprvbtnc.gif') }
.mstheme-navtxtprev-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtprev-g a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup a:active { color: rgb(0,0,0) }
.mstheme-navtxtup a:link { color: rgb(0,0,0) }
.mstheme-navtxtup a:visited { color: rgb(0,0,0) }
.mstheme-navtxtup-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('bubtnc.gif') }
.mstheme-navtxtup-g a:active { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:link { color: rgb(0,0,0) }
.mstheme-navtxtup-g a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font a:active { color: rgb(0,0,0) }
.mstheme-topbar-font a:link { color: rgb(0,0,0) }
.mstheme-topbar-font a:visited { color: rgb(0,0,0) }
.mstheme-topbar-font-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0); 
               background-image: url('blogbalc.gif') }
.mstheme-topbar-font-g a:active { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:link { color: rgb(0,0,0) }
.mstheme-topbar-font-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('bvbtnnc.gif') }
.mstheme-vert-navtxt-g a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-g a:visited { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(0,0,0); 
               background-image: url('bvbtnsc.gif') }
.mstheme-vert-navtxt-gs a:active { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:link { color: rgb(0,0,0) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(0,0,0) }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(blogbalc.gif) }
.mstheme-topbar-font { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(0,0,0) }
body         { font-family: Arial, Arial, Helvetica; background-image: url('blobkgde.gif') }
h1           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 24pt }
h2           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 18pt }
h3           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 14pt }
h4           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 12pt }
h5           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 10pt }
h6           { font-family: Arial, Arial, Helvetica; font-weight: normal; font-style: normal; 
               font-size: 8pt }
button       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal }
textarea     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
fieldset     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
legend       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal }
select       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
table        { font-family: Arial, Arial, Helvetica; font-style: normal }
caption      { font-size: 14pt; font-family: Arial, Arial, Helvetica; font-style: normal }
th           { font-family: Arial, Arial, Helvetica; font-style: normal }
marquee      { font-size: 14pt; font-family: Arial, Arial, Helvetica }
.ms-main     { border-right: 0 solid #cc0000 }
.ms-bannerframe { background-color: #cc0000; border-bottom: 4 solid #666666 }
.ms-banner   { color: #ffffff; font-size: 10pt; font-family: Arial, sans-serif }
.ms-banner a:link { font-family: Arial, sans-serif; font-size: 10pt; color: #ffffff; font-weight: 
               normal; text-decoration: none }
.ms-banner a:visited { font-family: Arial, sans-serif; font-size: 10pt; color: #ffffff; font-weight: 
               normal; text-decoration: none }
.ms-nav td   { font-family: Arial, sans-serif; font-size: 9pt; font-weight: normal; color: 
               #000000 }
.ms-nav th   { font-size: 9pt; font-family: Arial, sans-serif; font-weight: normal; 
               text-align: left; color: #000000 }
.ms-navframe { border-left: 4 solid #666666 }
.ms-nav a    { text-decoration: none; font-family: Arial, sans-serif; font-size: 9pt; 
               font-weight: normal; color: #cc0000 }
.ms-nav a:hover { text-decoration: underline; color: #ffcc33 }
.ms-nav a:visited { color: #666666 }
.ms-verticaldots { background-image: url('blank.gif'); background-repeat: repeat-y; 
               background-position: right 50% }
.ms-viewselect a:link { font-size: 9pt; font-family: Arial, sans-serif; color: #cc0000 }
.ms-titlearea { font-family: Arial, sans-serif; font-size: 9pt; color: #000000 }
.ms-titleareaframe { color: #000000; border-left: 4 solid #006666 }
.ms-pagetitle { color: #000000; font-family: Arial, sans-serif; font-size: 1em; font-weight: 
               bold }
.ms-pagetitle a { text-decoration: underline; color: #000000 }
.ms-pagetitle a:hover { text-decoration: underline; color: #000000 }
.ms-announcementtitle { font-weight: normal }
.ms-formlabel { text-align: left; font-family: Arial, sans-serif; font-size: 9pt; 
               font-weight: normal; color: #000000 }
.ms-formdescription a { color: #cc0000; text-decoration: underline }
.ms-formbody { text-align: left; font-family: Arial, sans-serif; font-size: 9pt; color: 
               #000000 }
.ms-formdescription { font-family: Arial, sans-serif; font-size: 9pt; color: #000000 }
.ms-radiotext { cursor: default; text-align: left; font-family: Arial, sans-serif; font-size: 
               9pt; height: 19px }
.ms-searchbox { width: 100% }
.ms-input    { font-size: 9pt; font-family: Arial, sans-serif }
.ms-long     { font-size: 9pt; font-family: Arial, sans-serif; width: 300px }
.ms-wvsel    { color: #3366cc }
.ms-selected { background-color: #ffcc33; color: #000000 }
.ms-selected span { color: #000000 }
.ms-filedialog td { height: 16px }
.ms-descriptiontext { color: #000000; font-family: Arial, sans-serif; font-size: 9pt }
.ms-descriptiontext a { color: #cc0000; font-family: Arial, sans-serif; font-size: 9pt }
.ms-toolbar  { font-family: Arial, sans-serif; font-size: 9pt; text-decoration: none; color: 
               #666666 }
.ms-separator { color: #cc0000; font-size: 10pt }
.ms-authoringcontrols { background-color: #cccccc; font-family: Arial, sans-serif; font-size: 9pt; 
               color: #000000 }
.ms-sectionheader { color: #000000; font-family: Arial, sans-serif; font-size: 10pt; font-weight: 
               bold }
.ms-sectionline { background-color: #ffcc33; height: 2px }
.ms-propertysheet { font-family: Arial, sans-serif; font-size: 9pt }
.ms-propertysheet th { font-family: Arial, sans-serif; font-size: 9pt; color: #000000; font-weight: 
               normal }
.ms-propertysheet a { text-decoration: none; color: #cc0000 }
.ms-propertysheet a:hover { text-decoration: underline; color: #ffcc33 }
.ms-propertysheet a:visited { text-decoration: none; color: #666666 }
.ms-propertysheet a:hover { text-decoration: underline }
.ms-itemheader a { font-size: 10pt; font-family: Arial, sans-serif; font-weight: normal; color: 
               #cc0000; text-decoration: none }
.ms-itemheader a:hover { text-decoration: underline; color: #ffcc33 }
.ms-itemheader a:visited { text-decoration: none; color: #666666 }
.ms-itemheader a:hover { text-decoration: underline }
.ms-discussiontitle { font-size: 10pt; font-family: Arial, sans-serif; color: #000000; font-weight: 
               normal }
.ms-vh       { font-family: Arial, sans-serif; font-size: 9pt; color: #000000; text-align: 
               left; text-decoration: none; font-weight: normal }
.ms-vh a     { color: #cc0000; text-decoration: none }
.ms-vh a:hover { text-decoration: underline }
.ms-vb       { font-family: Arial, sans-serif; font-size: 9pt; color: #000000; height: 18px; 
               vertical-align: top }
.ms-vb a     { color: #cc0000; text-decoration: none }
.ms-vb a:hover { color: #ffcc33; text-decoration: underline }
.ms-vb a:visited { color: #666666; text-decoration: none }
.ms-vb a:hover { text-decoration: underline }
.ms-homepagetitle { font-family: Arial, sans-serif; font-size: 10pt; color: #000000; font-weight: 
               bold; text-decoration: none }
.ms-homepagetitle:hover { text-decoration: underline }
.ms-addnew   { font-weight: normal; font-family: Arial, sans-serif; font-size: .72em; color: 
               #999999; text-decoration: none }
.ms-cal      { border-collapse: collapse; table-layout: fixed; font-family: Arial, sans-serif; 
               cursor: default }
.ms-caltop   { vertical-align: top; font-size: 10pt; width: 14%; height: 30px; 
               border-left: 1px solid #000000; border-right: 1px solid #000000; 
               border-top: 1px solid #000000 }
.ms-calhead  { text-align: center; background-color: #ffcc33; color: #000000; font-size: 16pt; 
               font-family: Arial, sans-serif; border-style: none; 
               border-width: medium; padding: 2px }
.ms-caldow   { vertical-align: top; text-align: center; font-weight: bold; font-size: 10pt; 
               color: #000000; height: 20px; border-left: 1px solid #000000; 
               border-right: 1px solid #000000; border-top: 1px solid #000000 }
.ms-calmid   { height: 20px; border-left: 1px solid #000000; border-right: 1px solid #000000 }
.ms-calspacer { height: 4px; border-left: 1px solid #000000; border-right: 1px solid #000000 }
.ms-calbot   { height: 2px; border-left: 1px solid #000000; border-right: 1px solid #000000; 
               border-top-style: none; border-top-width: medium; 
               border-bottom: 1px solid #000000 }
.ms-appt a   { color: #000000 }
.ms-appt a:hover { color: red }
.ms-appt     { text-align: center; vertical-align: middle; font-size: 8pt; height: 18px; 
               overflow: hidden; background-color: #cccccc; color: #000000; 
               border: 2px solid #cc0000 }
.ms-caldowdown { font-family: Arial, sans-serif; font-weight: bold; color: #000000; 
               text-align: center; vertical-align: middle }
.ms-caldown  { font-size: 8pt; color: #000000; text-align: left; vertical-align: top }
.ms-datepickeriframe { position: absolute; display: none; background-color: white; 
               background-repeat: repeat; background-attachment: scroll; 
               background-position: 0% }
.ms-datepicker { font-family: Arial, sans-serif; background-color: #ffffff; color: #000000; 
               cursor: default; border: 2 outset activeborder }
.ms-dpdow    { vertical-align: top; text-align: center; font-weight: bold; font-size: 8pt; 
               color: #000000; border-left-style: none; border-left-width: 
               medium; border-right-style: none; border-right-width: medium; 
               border-top-style: none; border-top-width: medium; 
               border-bottom: 1px solid #000000 }
.ms-dpday    { font-size: 8pt; text-align: center; border-style: none; border-width: medium }
.ms-dpselectedday { background-color: #cccccc; font-size: 8pt; text-align: center; border-style: 
               none; border-width: medium }
.ms-dpnonmonth { color: #999999; font-size: 8pt; text-align: center; border-style: none; 
               border-width: medium }
.ms-dphead   { text-align: center; font-weight: bold; font-size: 8pt; background-color: 
               #ffcc33; color: #000000; border-style: none; border-width: 
               medium }
.ms-dpfoot   { text-align: center; font-size: 8pt; font-style: italic; height: 24px; 
               border-left-style: none; border-left-width: medium; 
               border-right-style: none; border-right-width: medium; 
               border-top-style: solid; border-top-width: 1px; 
               border-bottom-style: none; border-bottom-width: medium }
img.ms-button { cursor: hand }
